<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <p>
        <strong>1. 안전인증 대상 보호구와 자율 안전확인 대상 보호구를 구분하여 설명하시오.</strong>
        <input type="text" name="one" >
    </p>
    <p>
        <strong>2. 피뢰기의 구비조건과 종류에 대하여 각각 설명하시오.</strong>
        <input type="text" name="one" >
    </p>
    <p>
        <strong>3. 유입변압기 고장 여부를 진단할 수 있는 방법에 대하여 설명하시오.</strong>
        <input type="text" name="one" >

    </p>

    <p>
        <strong>4. 차단기 트립프리(Trip Free)에 대하여 설명하시오.</strong>
        <input type="text" name="one" >
    </p>
    <p>
        <strong>5. 전력기술관리법에서 정한 감리배치 신고대상과 제외대상에 대하여 각각 설명하시오.</strong>
        <input type="text" name="one" >
    </p>
    <p>
        <strong>6. 산업안전심리의 5대 요소에 대하여 설명하시오.</strong>
        <input type="text" name="one" >

    </p>



    <p>
        <input type="submit" value="제출">
    </p>
</form>

</body>
</html>